/* Set all margins to 0 */

*{
    margin: 0;
    font-family: Arial;
    border: border-box;  /* this adds border area into the height and width , helps to measure space*/
}

.navbar{  /* inspected from orginal website*/
    height : 60px;
    background-color: #0F1111; 
    color:white;
    /*display flex puts nav items horizontally */
    display : flex;
    align-items: center;
}

.nav-logo{
    height: 50 px;
    width: 100px;
}

.logo{
    background-image: url("images/amazon_logo.png") ;
    width: 100%;
    height: 50px;
    background-size: cover;
}

.border{
    border: 1.8 solid transparent;
}

.border:hover{
    border: 1.8px solid white;
}

/* style for box 2*/

.address-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left :15px;
}

.address-second{
    font-size: 1rem;
    margin-left: 3px ;
}

.add-icon{
    display: flex;
    align-items: center;
}
